$primary-color: #1677ff;
$bg-color: #f5f6f8;
$text-color: #1f1f1f;
$sub-text-color: #6f6f6f;
$danger-color: #ff4d4f;
$success-color: #52c41a;
$warning-color: #faad14;

page {
  background-color: $bg-color;
  color: $text-color;
  font-size: 28rpx;
}

.button-primary {
  background-color: $primary-color;
  color: #ffffff;
}

